{% extends "base.html" %}
{% load staticfiles %}
{% block sub_style %}
<!-- <link rel="stylesheet" href="{% static 'css/home_style.css' %}"> -->
{% endblock %}
{% block title %}
 | 비밀번호 변경
{% endblock title %}
{% block content %}
<h2>비밀번호 변경</h2>
<form action="." method="post">
    {%csrf_token%}
    {%if form.error%}[주의]입력내용 확인요망~~{%endif%}
    {{form.old_password.label_tag}}{{form.old_password}}
    <br>{{form.new_password1.label_tag}}{{form.new_password1}}
    <br>{{form.new_password2.label_tag}}{{form.new_password2}}
    <br><input type="submit" value="비밀번호 변경">
</form>
{% endblock content %}