{% extends "base.html" %} {% load staticfiles %} {% block sub_style %}
<!-- <link rel="stylesheet" href="{% static 'css/home_style.css' %}"> -->
{% endblock %} {% block title %} | 회원가입 {% endblock title %} {% block content %}
<h2>회원가입</h2>
<form action="." method="post">
    <div class="form-group">
        {% csrf_token %} {% if form.errors %}
        <div class="alert alert-info">
            <strong>Info!</strong> 입력 내용을 다시 확인 해 주세요.</div>
        {% endif %}
        <div class="form-group">{{ form.username.label_tag }}{{ form.username }}</div>
        <div class="form-group">{{ form.password1.label_tag }}{{ form.password1 }}</div>
        <div class="form-group">{{ form.password2.label_tag }}{{ form.password2 }}</div>
        <botton type="submit" class="btn btn-default">회원가입</botton>
    </div>
</form>
<script>
    (function () {
        var elem = document.querySelectorAll('input');
        for (var i = 0; i < elem.length; i++) {
            elem[i].classList.add('form-control');
        }
    })();
</script>
{% endblock content %}