{% extends 'board/base_board.html' %}
{% block board_content %}
<!-- table-bordered, table-hover, table-condensed -->
<!-- tr태그에 active, success, info, warning, danger  -->
<!-- <div class="table-responsive"> -->
<div class="table-responsive">
    <table class="table">
    <tr>
        <td>순번</td>
        <td>제목</td>
        <td>작성자</td>
        <td>작성일</td>
    </tr>
{% for post in posts %}
    <tr>
        <td>{{ post.id }}</td>
        <td><a href="{% url 'board:post_detail' pk=post.pk %}">{{ post.title }}</a></td>
        <td>{{ post.author }}</td>
        <td>{{ post.created_date|date:"M/d"|lower }}</td>
        <td><a href="{% url 'board:post_remove' pk=post.pk %}">삭제</a></td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}